header h1{
    font-weight: bolder;
    font-size: 3vw:
    color: slategrey;

}

header nav ul li a {
    padding: 10%;
    font-weight: lighter;
    font-size: 1vw;
}

.about_me {
    background-image: url('../images/frost.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.recent_work{
    width: 50%;
    background-image: url('../images/recent.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.recent h4 {
    font-size: small;
    border: 3px solid;
    background-color: darkmagenta;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 10%;
}

.work_box_small {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}